<h1>{{title}}</h1>
<ul>
    {{#each movies}}
    <li>
        <h2>{{this.attributes.title}}</h2>
        <p>{{{this.attributes.intro}}}</p>
        {{#if this.attributes.image}}
        <img src="{{this.attributes.image.url}}" alt="{{this.attributes.title}}">
        {{/if}}
    </li>
    {{/each}}
</ul>
